# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Miscellaneous
.eslintcache
.npm/
.yarn/
